<%- include('partials/header'); -%>

    <ul class="recipes">
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie recipe icon">
            <h4>Idea Boost</h4>
            <p>Banana, Vanilla ice cream, Milk</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie recipe icon">
            <h4>World Twist</h4>
            <p>Peach, Pinapple, Apple juice</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie recipe icon">
            <h4>Platonic special</h4>
            <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie recipe icon">
            <h4>Recollection cream</h4>
            <p>Banana, Vanilla ice cream, Milk</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie recipe icon">
            <h4>The Cave cream</h4>
            <p>Peach, Pinapple, Apple juice</p>
        </li>
        <li class="recipe">
            <img src="/smoothie.png" alt="smoothie recipe icon">
            <h4>Idea Packer</h4>
            <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
        </li>
    </ul>

    <%- include('partials/footer'); -%>